[submodule "games/Maze_Car"]
	path = games/Maze_Car
	url = git@github.com:yen900611/Maze_Car.git
[submodule "games/RacingCar"]
	path = games/RacingCar
	url = git@github.com:yen900611/RacingCar.git
[submodule "games/arkanoid"]
	path = games/arkanoid
	url = git@github.com:PAIA-Playful-AI-Arena/arkanoid.git
[submodule "games/pingpong"]
	path = games/pingpong
	url = git@github.com:PAIA-Playful-AI-Arena/pingpong.git